.button-outline {
    padding-left: 40px;
    padding-right: 40px;

    border-radius: 30px;
    background-color: transparent;
    height: 60px;

    color: #FFF;
    font-size: 14px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;

    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;

    transition: .3s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0);
    }
    
    &:focus {
        outline: none;
        background-color: rgb(0, 0, 0);
    }
}