.button-solid {
    padding-left: 40px;
    padding-right: 40px;

    border-radius: 30px;
    background-color: #fff;
    height: 60px;

    color: #2E2E2E;
    font-size: 14px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;

    border: none;
    cursor: pointer;

    transition: .3s;

    &:hover {
        background-color: #000;
        color: #fff;
    }
    
    &:focus {
        outline: none;
        background-color: #2E2E2E;
        color: #fff;
    }
}