.package {
    display: flex;
    flex-direction: column;

    padding: 40px 0;

    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
}

.package--special {
    background-color: rgba(48, 79, 254, 0.95);

    & .package__title {
        color: #fff;
    }

    & .package__period {
        background-color: rgba(0, 0, 0, 0.10);
    }
}

.package__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title {
    color: #B2B2B2;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.package__price {
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.package__period {
    display: inline-block;

    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;

    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.10);
    padding: 6px 15.3px;
}

.package__list {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    margin-bottom: 58px;
    line-height: 1;
}

.package__list-item {
    font-size: 16px;
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }
}

.package__button {
    margin-top: auto;
}