.search {
    position: relative;
}

.search__input {
    border-radius: 30px;
    background: #FFF;
    border: none;

    width: 0;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;

    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 60px;

    transition: width .2s ease-in;

    &::placeholder {
        color: rgba(46, 46, 46, 0.50);
    }

    &:focus {
        outline: none;
    }
}

.search__button {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    cursor: pointer;

    transition: background-color .2s ease-in;

    &:hover {
        background-color: #00C470;

        .search__button-icon {
            stroke: white;
        }
    }

    &:focus {
        outline: none;
    }
}

.search__button-icon {
    stroke: black;
    transition: stroke .2s ease-in;
}

.search.search--visible {
    .search__button {
        background-color: #00C470;

        &:hover {
            background-color: #15D784;
        }
    }

    .search__button-icon {
        stroke: #fff;
    }

    .search__input {
        width: 340px;

        padding-left: 30px;
        padding-right: 70px;

        /* Mobile XS */
        @media (max-width: 599px) {
            width: 220px;
        }
    }
}